[Unit]
Description=SmartAIToolsBot - Full Stack (Local Bot API + Main Bot + Dashboard)
Wants=SmartAIToolsBot.service SmartAIToolsBot-bot.service SmartAIToolsBot-dashboard.service
After=SmartAIToolsBot.service SmartAIToolsBot-bot.service SmartAIToolsBot-dashboard.service

[Install]
WantedBy=multi-user.target
