[Unit]
Description=SmartAIToolsBot - Full Stack (Local Bot API + Main Bot)
Wants=SmartAIToolsBot.service SmartAIToolsBot-bot.service
After=SmartAIToolsBot.service SmartAIToolsBot-bot.service

[Install]
WantedBy=multi-user.target
